


/* shared style start */


.inter {
  font-family: "Inter", sans-serif;
}

/* shared style end */

.linear-gradient {
    background: linear-gradient(20deg, #F7E93F 15%,#FB09B4 51%,#9100F8 100%);
    color: #fff;
}

/* navbar part start */
.navbar {
    max-width: 80%;
}
  .navbar_hambarger_icon {
    display: none;
  }
/* navbar part end */


/* banner part start */

.total-banner-main-parent {
    background-image: url(../assets/hero-bg.png);
    height: 750px;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* banner part end */



@media screen and (max-width: 576px) {
    /* navbar part start */

    .navbar {
    max-width: 100%;
}

    .total-navbar-main-parent {
        background-color: #1a0b2e;
    }
    .navbar__logo {
        width: 40%;
    }
    .navbar__menu {
        display: none;
    }

    .navbar_btn {
        display: none;
    }

    .navbar_hambarger_icon {
         display: block;
     }
    /* navbar part end */
}

